<!DOCTYPE html>
<#assign ctx=springMacroRequestContext.contextPath />
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>羽毛球随机分组</title>
    <link rel="stylesheet" href="${ctx}/layui/css/layui.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card-body" id="player-list-body-id">
        <form class="layui-form layui-col-space5">
            <div class="layui-form-item">
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" name="name" placeholder="请输入选手姓名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <select name="sex">
                        <option value="">全部</option>
                        <option value="male">男高</option>
                        <option value="female">女高</option>
                    </select>
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="data-search-btn">
                        <i class="layui-icon">&#xe615;</i>
                    </button>
                </div>
            </div>
        </form>
        <table class="layui-hide" id="playerTableId" lay-filter="playerTableFilter"></table>
    </div>
    <div class="layui-card-body layui-hide" id="add-player-body-id">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选手姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="player_name_input" name="name" lay-verify="required" placeholder="请输入选手姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <select name="sex" lay-verify="required">
                            <option value="male">男高</option>
                            <option value="female">女高</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="addPlayerBtn">提交</button>
                    <button type="button" class="layui-btn layui-bg-orange" lay-active="backBtn">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="${ctx}/layui/layui.js"></script>
<script src="${ctx}/layui/random.js"></script>
<script>

    layui.use(function(){
        var $ = layui.jquery,
            util = layui.util,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;

        // 初始化表格
        table.render({
            elem: '#playerTableId',
            url: '${ctx}/listPlayer',
            toolbar: '#toolbarDemo',
            defaultToolbar: [],
            cols: [[
                {field: 'name', width: 120, title: '选手姓名', align: 'center'},
                {field: 'sex', width: 80, title: '性别', sort: true, align: 'center'
                    ,templet:function(row){
                        if (row.sex == 'male') {
                            return '男高';
                        } else {
                            return "女高"
                        }
                    }
                },
                {title: '操作', minWidth: 100, templet: '#operTableBar', align: "center"}
            ]],
            page: false,
            //res 即为原始返回的数据
            parseData: function(res) {
                return {
                    "code": res.status == 200 ? 0 : -1, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "data": res.data //解析数据列表
                };
            }
        });

        // 打开添加选手面板
        table.on('toolbar(playerTableFilter)', function (obj) {
            if (obj.event == "addPlayer") {
                $('#player-list-body-id').addClass("layui-hide");
                $('#player_name_input').val("");
                $('#add-player-body-id').removeClass("layui-hide");
                return false;
            }
        });

        // 关闭添加选手面板
        util.event('lay-active', {
            backBtn: function(){
                $('#add-player-body-id').addClass("layui-hide");
                $('#player-list-body-id').removeClass("layui-hide");
            }
        });

        // 选手列表搜索
        form.on('submit(data-search-btn)', function (data) {
            table.reload('playerTableId', {
                where: {
                    name: data.field.name,
                    sex: data.field.sex
                }
            });
            return false;
        });

        //添加选手信息
        form.on('submit(addPlayerBtn)', function (data) {
            //设置遮罩层
            var loading = layer.msg('提交中', {icon: 16, shade: 0.3, time:0});
            $.ajax({
                type: 'post',
                url: '${ctx}/addPlayer',
                data: data.field,
                dataType: 'json',
                success: function(res) {
                    layer.close(loading);
                    if (res.status == 200) {
                        // 刷新表格
                        $('#add-player-body-id').addClass("layui-hide");
                        $('#player-list-body-id').removeClass("layui-hide");
                        table.reload('playerTableId');
                    } else {
                        //错误提示框
                        layer.msg(res.message);
                    }
                },
                error: function() {
                    layer.close(loading);
                    layer.msg('系统异常', {icon : 5});
                }
            });
            return false;
        });

        // 查看任务日志
        table.on('tool(playerTableFilter)', function (obj) {
            if (obj.event === 'editPlayer') {
                return false;
            } else if (obj.event === 'removePlayer') {
                layer.confirm("确定删除 "+obj.data.name+" ？", {shade: 0}, function (index) {
                    //设置遮罩层
                    var loading = layer.msg('提交中', {icon: 16, ime:0});
                    $.ajax({
                        type: 'post',
                        url: '${ctx}/removePlayer',
                        data: {'name':obj.data.name},
                        dataType: 'json',
                        success: function(res) {
                            layer.close(loading);
                            layer.close(index);
                            if (res.status == 200) {
                                // 重载表格
                                table.reload('playerTableId');
                            } else {
                                //错误提示框
                                layer.msg(res.message);
                            }
                        }
                    });
                });
                return false;
            }
        });
    });
</script>
<script>

</script>
<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-sm" lay-event="addPlayer">添加选手</button>
</script>
<script type="text/html" id="operTableBar">
<!--    <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="editPlayer">修改</button>-->
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="removePlayer">删除</button>
</script>
</body>
